
.onClickLink{
    cursor: pointer;
    color: darkred;
}

.title{
    color:lightcoral;
}
.menuTh{
    cursor: pointer;
    font-size: 18px;
    color: midnightblue;
    width: 50px;
    padding: 15px;
    align: left;
}